################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordCount/src/out
/K-MeansClustering/Java/HadoopJob/out
