################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordCount/src/out
/K-MeansClustering/Java/HadoopJob/out
/K-MeansClustering/Java/KMeansClustering/KMeansClustering/bin
/K-MeansClustering/Java/KMeansClustering/KMeansClustering/obj/Debug
/K-MeansClustering/Java/KMeansClustering/packages
*.suo
*.user
